{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            PopaTour
        </title>
        <!-- CSS  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css"/>
            <link href="css/style.css" media="screen,projection" rel="stylesheet" type="text/css"/>
        </link>
    </head>
    <body>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <img alt="" class="icono" height="55" src="{% static 'img/icono-nuevo-app-popa.png' %}" width="55">
                    <a class="brand-logo" href="#" id="logo-container">
                        PopaTour
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'index' %}">Página Principal</a></li>
			<li><a href="{% url 'sitios' %}">Sitos</a></li>
                    </ul>
                    <ul class="sidenav" id="nav-mobile">
                       <li><a href="{% url 'index' %}">Página Principal</a></li>
			<li><a href="{% url 'sitios' %}">Sitos</a></li>
                    </ul>
                    <a class="sidenav-trigger" data-target="nav-mobile" href="#">
                        <i class="material-icons">
                            menu
                        </i>
                    </a>
                </img>
            </div>
        </nav>
			{% block titulop %}

			{% endblock %}

		{% block contenido %}
		
		{% endblock%}
        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">
                            Company Bio
                        </h5>
                        <p class="grey-text text-lighten-4">
                            We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
                        </p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">
                            Settings
                        </h5>
                        <ul>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 1
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 2
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 3
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 4
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">
                            Connect
                        </h5>
                        <ul>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 1
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 2
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 3
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">
                                    Link 4
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by
                    <a class="brown-text text-lighten-3" href="http://materializecss.com">
                        Materialize
                    </a>
                </div>
            </div>
        </footer>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js">
        </script>
        <script src="{% static 'js/materialize.js' %}">
        </script>
        <script src="{% static 'js/init.js' %}">
        </script>
    </body>
</html>
