{% extends 'base.html' %}

{% block titulo %}
    {{ sitio.nombre }}
{% endblock %}
{% block titulop %}
{% endblock %}
{% block contenido %}
	<div class="row center">
		<div class="col s10 offset-s1">
			<h2 class="header">{{ sitio.nombre }}</h2>
			<div class="card vertical">
				<div class="card-content">
					<div class="card-image">
						<img src="/media/{{ sitio.imagen }}">
					</div>
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p>{{ sitio.resenia }}</p>
					</div>
					<div class="card-tabs">
						<ul class="tabs tabs-fixed-width">
							<li class="tab"><a href="#submenu1">Datos de interés</a></li>
							<li class="tab"><a href="#submenu2">Fecha de construcción</a></li>
							<li class="tab"><a href="#submenu3">Ubicación</a></li></ul>
					</div>
					<div class="card-content">
						<div id="submenu1">{{ sitio.datosInteres }}</div>
						<div id="submenu2">{{ sitio.anio }}</div>
						<div id="submenu3">{{ sitio.ubicacion }}</div>
					</div>
				</div>
				<div class="card-tabs">
						<ul class="tabs tabs-fixed-width">
							<li class="tab"><a href="#submenuI1">Imagen 360 1</a></li>
							<li class="tab"><a href="#submenuI2">Imagen 360 2</a></li>
						</ul>
				</div>
				<div class="card-content">
					<div class="card-image" id="submenuI1"><iframe width="800" height="450" allowfullscreen src="//storage.googleapis.com/vrview/2.0/index.html?image=https://previews.dropbox.com/p/thumb/AAXJbr8jtaXACmPKWjjI2ECsLZR2rgoIm4I-SwqHiiY5tMAT9lMsgyxPUI_ObdjgY8ldpnFRW6wrF8gGr41fmm3ic99Vkp_OumoSpsb2JzYIskimZvCtxZH97l7VroUMSDFCmUf5J3a5P_9ODedIzVTQr9JiPusZ9VSQwLWe6KUn1QaFS8M7P8ndPoy9kGr4bax4A6OHBUKD9-5z4RxLLdrIVmLMnbOAMdXhXya25YbO4v_8RvSt7k2clLXYq93YEhwcQWSMtP31EBBC6KG1CZixJDH4SO6-59H1aO7lQrVGXENwuwD5wsLC5oGydGjOTlbzVMc_qnKamKpMsBnkt6RJyCTUznlR3bkEECElLaZvr2UrP_xGio3V7s0DxqUEzbNxkx8PHgu0X1Okb0q8BwTcE0ujwKVdijDskUWc3ZtLmA/p.png&is_stereo=true" > </iframe></div></div>
					<div class="card-image" id="submenuI2"><img src="/media/{{ sitio.imagenTSS1 }}"/></div>
				</div>
			</div>
		</div>
	</div>
	<img class="right" height="80" src="{{ sitio.imgQR }}">
<div class="section">
    <div class="row">
        <div class="col l12">
            <article class="post-4556 post type-post status-publish format-standard has-post-thumbnail hentry category-rosemont tag-new-coffee-shops-montreal roaster-pilot moods-community purpose-business-meeting purpose-social-meetups purpose-work" id="post-4556">
                <div class="row">
                    <div class="col l8 s12">
                        <h2>
                            {{ sitio.nombre }}
                        </h2>
                        <img alt="Paquebot" class="single-photo responsive-img z-depth-3 wp-post-image" height="600" sizes="(max-width: 800px) 100vw, 800px" src="/media/{{ sitio.imagen }}" width="800">
                            <div class="section">
                                <!-- 
                                <a class="btn white-text" href="https://adbeus.com/coffee/montreal/rosemont/" title="City">
                                    Rosemont
                                </a>
                                ROASTERS -->
                                <style>
                                    .beans-icon {
                            max-height: 24px;
                            margin: -7px 5px;
                        }
                                </style>
                            </div>
                        </img>
                    </div>

                    <div class="col l4 s12">
                            <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">forum</i>Reseña</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">event</i>Año</div>
      <div class="collapsible-body"><span>{{ sitio.anio }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">alarm</i>Horarios</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">group_work</i>Tipo</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">announcement</i>Datos de Interes</div>
      <div class="collapsible-body"><span>{{ sitio.datosInteres }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">account_balance</i>Arquitecto</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">sentiment_very_satisfied</i>Patrono</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">history</i>Principales cambios</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Ubicación</div>
      <div class="collapsible-body"><span>{{ sitio.ubicacion }}</span></div>
    </li>

  </ul>
                    </div>



				
            </article>
            
        </div>
    </div>
</div>


{% endblock %}
