{% extends 'base.html' %}

{% block titulo %}
    {{ sitio.nombre }}
{% endblock %}
{% block titulop %}
{% endblock %}
{% block contenido %}
<div class="section">
    <div class="row">
        <div class="col l12">
            <article class="post-4556 post type-post status-publish format-standard has-post-thumbnail hentry category-rosemont tag-new-coffee-shops-montreal roaster-pilot moods-community purpose-business-meeting purpose-social-meetups purpose-work" id="post-4556">
                <div class="row">
                    <div class="col l8 s12">
                        <h2>
                            {{ sitio.nombre }}
                        </h2>
                        <img alt="Paquebot" class="single-photo responsive-img z-depth-3 wp-post-image" height="600" sizes="(max-width: 800px) 100vw, 800px" src="/media/{{ sitio.imagen }}" width="800">
                            <div class="section">
                                <!-- 
                                <a class="btn white-text" href="https://adbeus.com/coffee/montreal/rosemont/" title="City">
                                    Rosemont
                                </a>
                                ROASTERS -->
                                <style>
                                    .beans-icon {
                            max-height: 24px;
                            margin: -7px 5px;
                        }
                                </style>
                            </div>
                        </img>
                    </div>

                    <div class="col l4 s12">
                            <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">forum</i>Reseña</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">event</i>Año</div>
      <div class="collapsible-body"><span>{{ sitio.anio }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">alarm</i>Horarios</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">group_work</i>Tipo</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">announcement</i>Datos de Interes</div>
      <div class="collapsible-body"><span>{{ sitio.datosInteres }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">account_balance</i>Arquitecto</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">sentiment_very_satisfied</i>Patrono</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">history</i>Principales cambios</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Ubicación</div>
      <div class="collapsible-body"><span>{{ sitio.ubicacion }}</span></div>
    </li>

  </ul>
                    </div>



				
            </article>
            
        </div>
    </div>
</div>


{% endblock %}
