{% extends 'base.html' %}

{% block titulo %}
    Sitios
{% endblock %}
{% block titulop %}
    <h2>Lista de productos</h2>
{% endblock %}

{% block contenido %}

    {% for s in lista %}
        <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="/media/{{ s.imagen }}">
                  <span class="card-title">{{ l.nombre }}</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'detalle_sitio' id_s=s.id %}"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <h5>{{ s.resenia }}</h5>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}