{% extends 'base.html' %}

{% block titulo %}
    Sitios
{% endblock %}
{% block contenido %}

  <div class="row">
        {% for sitio in lista %}
            <div class="col s8 m6">
                <a href="{% url 'detalle_sitio' id_s=sitio.id %}">
                    <div class="card">
                        <div class="card-image waves-effect waves-light">
                            <img src="/media/{{ sitio.imagen }}">
                        </div>
                        <div class="card-content">
                            <h5 class="card-title black-text">{{ sitio.nombre }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}